body {
    padding: 10px;
}

.upper-body {
    padding: 20px;
    background-color: #d7e3fc;
}

.main-body {
    padding: 20px;
    background-color: #edf2fb;
}

.nav {
    font-size: 20px;
    justify-content: flex-end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.container .center {
    max-width: 100%;
    max-height: 100%;
}