{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'by_category' %}" method="POST" class="my-4">
        {% csrf_token %}
        <label for="category">Choose a category:</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category.category_name }}" {% if category.category_name == selected_category %}selected{% endif %}>
                    {{ category.category_name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-warning">Filter</button>
    </form>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ listing.name }}</h5>
                        <p class="card-text flex-grow-1">{{ listing.description }}</p>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary mt-auto">View Listing</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
